@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #F1F5F8; 
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding: 3rem 0px;
}

h1{
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
    color: #102B42;
}

#blue-bar{
    width: 100px;
    height: 5px;
    background-color: #45A4E9;
}

.container{
    width: 750px;
    margin-top: 5rem;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px -15px black ;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-container{
    width: 150px;
    height: 150px;
    position: relative;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-right: 7px solid #45A4E9;
    border-top: 7px solid #45A4E9;
    aspect-ratio: 1/1;
}

#quote{
    height: 30px;
    height: 30px;
    position: absolute;
    z-index: 10;
    top: 1rem;
    background-color: #45A4E9;
    padding: 0px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.fa-quote-right{
    font-size: 1.2rem;
    color: white;
}

.container h2{
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    font-size: 1rem;
    color: #575356;
    margin-top: 1.5rem;
}

.container h3{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    color: #5DAEED;
}

.container p{
    color: #668AAA;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#nav-btns{
    display: flex;
    gap: 1.5rem;
    color: #5DAEED;
}

#pre{
    cursor: pointer;
}

#pre:hover{
    color: #08528a;
    transition: all 300ms ease-in;
}

#next{
    cursor: pointer;
}

#next:hover{
    color: #08528a;
    transition: all 300ms ease-in;
}

#surprise-btn{
    border-top: 2px solid #5DAEED;
    border-left: 2px solid #5DAEED;
    border-right: 2px solid #102B42;
    border-bottom: 2px solid #102B42;
    color: #5DAEED;
    background-color: #F1F5F8;
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 1rem;
    margin-top: 1rem;
    transition: all 200ms ease-in;
}

#surprise-btn:hover{
    border-top: 2px solid #102B42;
    border-left: 2px solid #102B42;
    border-right: 2px solid #5DAEED;
    border-bottom: 2px solid #5DAEED;
}

@media screen and (max-width:769px) {
    h1{
        font-size: 2rem;
    }
    
    #blue-bar{
        width: 80px;
    }
    
    .container{
        width: 90vw;
    }
}
@media screen and (max-width:426px) {
    h1{
        font-size: 1.5rem;
    }
    
    #blue-bar{
        width: 70px;
    }

    #img-container{
        width: 120px;
        height: 120px;
        position: relative;
    }

    img{
        border-right: 6px solid #45A4E9;
        border-top: 6px solid #45A4E9;
    }

    #quote{
        height: 25px;
        height: 25px;
        padding: 0px 6px;
    }

    .fa-quote-right{
        font-size: 0.9rem;
    }

    .container h2{
        letter-spacing: 0.15rem;
    }

    .container h3{
        font-size: 0.75rem;
    }

    .container p{
        font-size: 0.9rem;
    }
}